* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 0.5px;
}

nav ul {
    text-align: center;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

nav ul a:nth-last-child(2) {
    margin-left: auto;
}

nav ul a:last-child {
    margin-right: 10px;
}

@media (max-width: 768px) {
    nav ul a {
        margin: 2px 0;
    }
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

footer {
    background-color: rgb(255, 255, 255);
    position: relative; /* Alterado para relative */
    width: 100%;
}

footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
